.title {
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 2px solid #ccc;
}

.description {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

.conatiner {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

.elements {
  margin-left: 10px;
  margin-right: 10px;
  padding: 30px;
  width: 150px;
}